<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title> {{ title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% else %}
    <title>News</title>
    {% endif %}
</head>
<body>
    {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock %}
    <div class="container">
        <h1 style="color:#2196F3;text-decoration-line:underline;text-align:center " id="top">WORLD SOURCES</h1>
    </div>
    
</body>
</html>